html {
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
  background-attachment: fixed;
  height: 100%;
}


.center {
  text-align: center;
}


.active {
  font-weight: bold;
}


.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}


.nav li:first-child {
  padding-left: 0;
}


ul {
  padding-left: 0;
}


li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}


.button {
  height: 50px;
  width: 120px;
  background-color: #e040fb;
  border: 1px solid #ffffff;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align-self: center;
}


.submit-button {
  height: 50px;
  width: 100px;
  background-color: #e040fb;
  border: 1px solid #ffffff;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}


.button-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}


.questions-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}


.leaderboard {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 3px;
}


.poll-preview-card-container {
  width: 90%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 3px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff55;
}


.card-title-container {
  width: 100%;
}


.question-preview-container {
  padding: 10px;
}


.user-avatar-column {
  display: flex;
  flex-direction: column;
}


.preview-button-column {
  display: flex;
  flex-direction: column;
}


.question-button-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
}


.avatar {
  border-radius: 25px;
  margin: 5px;
  border: 2px solid black;
}


.signin-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff55;
}


.welcome {
  width: 100%;
}


.new-question-form {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff55;
}


.user-card {
  border: 3px solid #ffffff;
  border-radius: 3px;
  width: 90%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff55;
}


.user-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 20px;
}


.user-score-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid #ffffff;
  padding: 10px;
}


.score {
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 10px;
  background-color: #ffffff55;
}


.vote {
  display: flex;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 10px;
  margin: 0;
  background-color: #ff79ff;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: small;
  position: relative;
  top: 25px;
  left: -25px;
}


.poll-card-container {
  width: 90%;
  max-width: 590px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff55;
}

.option-card-container {
  margin: 10px;
  position: relative;
}

.answered-poll-card {
  width: 90%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 3px;
}


.unanswered-poll-card {
  width: 90%;
  max-width: 590px;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
}


.results-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}


.option-card {
  height: 150px;
  width: 250px;
  background-color: #ffffff55;
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 15px;
}


.inner-bar {
  background-color: #e040fb;
  height: 100%;
  float: left;
}


.outer-bar {
  background-color: #ffffff55;
  height: 50px;
  width: 200px;
  position: relative;
}


.percentage {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
}