html {
  background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
  background-attachment: fixed;
  height: 100%;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar-container {
  margin: 10px;
}

.avatar {
  border-radius: 25px;
  margin: 10px;
}

.question-container {
  width: 100%;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.questions-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.signin-container {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  background-color: #ffffff55;
}

.welcome {
  width: 100%;
}

.center-button {
  align-self: flex-start;
}

.new-question-form {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.user-card {
  border: 3px solid #ffffff;
  border-radius: 3px;
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
}

.button {
  background-color: #7200ca;
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}